.custom-video__card {
  border-radius: 5px;
  max-width: 263px;
  height: 375px;
  background-color: #fdf8f8;
  position: relative;
  img {
    height: 165px;
  }
  mat-card-title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
  }
  mat-card-content p {
    font-size: 12px;
    line-height: 1.17;
  }
  mat-card-actions {
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    a {
      text-decoration: none;
      font-size: 13.33px;
      font-weight: 400;
    }
    time {
      font-size: 12px;
      line-height: 1.17;
      color: #828282;
      text-align: right;
    }
  }
}
