// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$youtube-client-app-primary: mat.define-palette(mat.$blue-palette, 500);
$youtube-client-app-accent: mat.define-palette(mat.$grey-palette, 300);

// The warn palette is optional (defaults to red).
$youtube-client-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$youtube-client-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $youtube-client-app-primary,
      accent: $youtube-client-app-accent,
      warn: $youtube-client-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($youtube-client-app-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14.06px;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 0px 4px #2196f3;
  transition: box-shadow 0.3s linear;
  cursor: pointer;
  &:hover {
    box-shadow: none;
  }
}

.form__container {
  form {
    margin: 0 auto;
    width: 350px;
    padding: 28px 20px;
    background-color: #F2F2F2;
    border-radius: 5px;
    .form__title {
      font-size: 18px;
      line-height: 1.17;
      margin-bottom: 27px;
    }
    mat-form-field {
      width: 100%;
      margin-bottom: 22px;
    }
    mat-label,
    mat-error,
    input {
      font-size: 12px;
    }
    mat-icon {
      font-size: 16px;
    }
    button[mat-icon-button]{
      height: 36px;
      width: 36px;
      padding-left: 4px;
    }
    .btn--form {
      height: 30px;
      width: 124px;
      margin-left: 180px;
      transition: all 0.3s linear;
      &:hover {
        background-color: #85B9FF;
      }
      &[disabled] {
        box-shadow: none;
      }
    }
  }
}
